<!doctype html>
<html>
	<head>
        <%- include("../parts/head.ejs") %>
        <title><%= user.username %> – TypicalBot</title>
	</head>
	<body>
		<%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

		<div class="page-container container-fluid">
            <div class="section">
				<span class="title"><p>Emptiness!</p></span>
				<p class="text">Hello, <%= user.username %>. There's nothing to display right now, so here's Wumpus.</p>
	            <img src="/images/wumpus.png">
        </div>

		<%- include("../parts/foot.ejs") %>
	</body>
</html>
