<!DOCTYPE html>

<html>
    <head>
        <%- include("../parts/head.ejs") %>
        <link href="/extra/dashboard.css" rel="stylesheet" type="text/css">
        <title>Dashboard – TypicalBot</title>
    </head>
	<body>
        <%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

        <div class="page-container container-fluid">
            <% if (auth) { %>
                <div class="section">
    				<span class="title"><p>TypicalBot Dashboard</p></span>
                    <p class="text">Hello, <%= user.username %>. This dashboard is still in development.</p>
    			</div>
                <div class="section">
    				<span class="title"><p>Manage Guilds</p></span>
                    <% if (!user.guilds || !user.guilds.length) { %>
                        <p class="text">No servers to display.</p>
                    <% } else { %>
                        <div class="shards panel panel-default">
                            <table class="guilds table table-striped">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th class="col-md-2">Guild</th>
                                            <th class="col-md-6">Permission Level</th>
                                            <th class="col-md-4">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% guilds.sort((a,b) => { if (a.name.toLowerCase() < b.name.toLowerCase()) return -1; if (a.name.toLowerCase() > b.name.toLowerCase()) return 1; return 0}).forEach(g => { %>
                                            <tr>
                                                <td>
                                                    <% if (g.icon) { %>
                                                        <img class="guild-icon" src="<%= g.icon ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.jpg` : `/images/unknown.png` %>"/>
                                                    <% } else { %>
                                                        <canvas class="guild-icon" id="<%= g.id %>" data-guild-name="<%= g.name %>" width="50" height="50"></canvas>
                                                    <% } %>
                                                    <%= g.name %>
                                                </td>
                                                <td><%= g.permLevel ? `${g.permLevel.title} [${g.permLevel.level}]` : "" %></td>
                                                <td><a href="/dashboard/guild/<%= g.id %>"><button class="btn btn-embossed btn-primary"><%= g.inGuild ? "Manage" : "Invite" %></button></a></td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
    			</div>

            <% } else { %>
                <div class="section">
    				<span class="title"><p>TypicalBot Dashboard</p></span>
                    <p class="text">Log in to access the TypicalBot Dashboard.</p>
    			</div>
            <% } %>
        </div>

        <%- include("../parts/foot.ejs") %>
	</body>
</html>

<script>
    function draw(id, name) {
        console.log(id, name);
        const ctx = document.getElementById(id).getContext("2d");
        ctx.fillStyle = "rgb(214, 214, 214)";
        ctx.beginPath();
        ctx.arc(25, 25, 25, 0, 2 * Math.PI, false);
        ctx.fill();
        ctx.restore();
        ctx.textAlign = "center";
        ctx.font = '17px Arial';
        ctx.fillStyle = "rgb(23, 23, 23)";
        ctx.fillText(name.split(" ").map(v => v[0]).join(""), 25, 31);
    }

    $(document).ready(function() {
        $("canvas").each(function(e) {
            draw($(this).attr("id"), $(this).attr("data-guild-name"));
        });
    });
</script>
