<!DOCTYPE html>

<html>
    <head>
        <%- include("../parts/head.ejs") %>
        <title>Dashboard – TypicalBot</title>
    </head>
	<body>
        <%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

        <div class="page-container container-fluid">
            <% if (auth) { %>
                <div class="section">
    				<span class="title"><p>TypicalBot Dashboard</p></span>
                    <p class="text">Hello, <%= user.username %>. This dashboard is still in development.</p>
    			</div>
                <div class="section">
    				<span class="title"><p>Manage Guilds</p></span>
                    <ul class="guild-list">
                        <% if (!user.guilds || !user.guilds.length) { %>
                            <p class="text">No servers to display.</p>
                        <% } else {
                            if (!guilds.in.length) { %>
                                    <p class="text">No servers to display.</p>
                            <% } else { guilds.in.sort((a,b) => { if (a.name.toLowerCase() < b.name.toLowerCase()) return -1; if (a.name.toLowerCase() > b.name.toLowerCase()) return 1; return 0}).forEach(g => { %>
                                    <li><a href="/dashboard/guild/<%= g.id %>"><img class="guild-icon" src="<%= g.icon ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.jpg` : `/images/unknown.png` %>" /><%= g.name %></a></li>
                                <% }) %>
                            <% } %>
                        <% } %>
                    </ul>
    			</div>
                <div class="section">
    				<span class="title"><p>Invite to Guilds</p></span>
                    <ul class="guild-list">
                        <% if (!user.guilds || !user.guilds.length) { %>
            				<p class="text">No servers to display.</p>
            			<% } else {
            				if (!guilds.not.length) { %>
            						<p class="text">No servers to display.</p>
            				<% } else { guilds.not.sort((a,b) => { if (a.name.toLowerCase() < b.name.toLowerCase()) return -1; if (a.name.toLowerCase() > b.name.toLowerCase()) return 1; return 0}).forEach(g => { %>
            						<li><a href="/dashboard/guild/<%= g.id %>"><img class="guild-icon" src="<%= g.icon ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.jpg` : `/images/unknown.png` %>" /><%= g.name %></a></li>
            					<% }) %>
            				<% } %>
            			<% } %>
                    </ul>
    			</div>
            <% } else { %>
                <div class="section">
    				<span class="title"><p>TypicalBot Dashboard</p></span>
                    <p class="text">Log in to access the TypicalBot Dashboard.</p>
    			</div>
            <% } %>
        </div>

        <%- include("../parts/foot.ejs") %>
	</body>
</html>
