<!DOCTYPE html>

<html>
    <head>
        <%- include("../parts/head.ejs") %>
        <!--<link href="/extra/dashboard.css" rel="stylesheet" type="text/css">-->
        <meta http-equiv="refresh" content="30">
        <title>Staff Panel – TypicalBot</title>
    </head>
	<body>
        <%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

        <div class="page-container container-fluid">
            <div class="section">
                <span class="title"><p>Staff Roles</p></span>
                <% if (roles.length) { %>
                    <ul class="roles">
                        <% roles.forEach(r => { %>
                            <% let color = rgb(r.hexColor); %>
                            <li style="background-color: rgba(<%= color.R %>, <%= color.G %>, <%= color.B %>, 0.0980392);
                                border-color: rgb(<%= color.R %>, <%= color.G %>, <%= color.B %>);
                                color: rgb(<%= color.R %>, <%= color.G %>, <%= color.B %>)"><%= r.name %></li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p class="text">No roles to display.</p>
                <% } %>
            </div>
            <div class="section">
                <span class="title"><p>Guild Search</p></span>
                <form class="search">
        			<input type="text" name="guildid" placeholder="Guild ID">
                    <a onclick="this.parentNode.submit()" style="cursor: pointer">Get Guild Information</a>
        		</form>
            </div>
            <div class="section">
                <span class="title"><p>Shards</p></span>
                <div class="shards panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1">Shard</th>
                                <th class="col-md-4"></th>
                                <th class="col-md-1">Guilds</th>
                                <th class="col-md-1">Channels</th>
                                <th class="col-md-1">Voice Connections</th>
                                <th class="col-md-1">Users</th>
                                <th class="col-md-2">Uptime</th>
                                <th class="col-md-1">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% master.shards.forEach(s => { %>
                                <% console.log(s); %>
                                <tr>
                                    <td><%= s.id %></td>
                                    <td></td>
                                    <td><%= s.stats.guilds ? Number(s.stats.guilds).toLocaleString() : "Unavailable" %></td>
                                    <td><%= s.stats.channels ? Number(s.stats.channels).toLocaleString() : "Unavailable" %></td>
                                    <td><%= String(s.stats.voiceConnections) ? Number(s.stats.voiceConnections).toLocaleString() : "Unavailable" %></td>
                                    <td><%= s.stats.users ? Number(s.stats.users).toLocaleString() : "Unavailable" %></td>
                                    <td><%= s.uptime && s.uptime > 20000 ? time(s.uptime) : "Unavailable" %></td>
                                    <td status="<%= s.status === null ? '2' : s.status === 0 ? '1' : s.status === 1 ? '3' : '2' %>">
                                        <i class="fa fa-<%= s.status === null ? 'question-circle' : s.status === 0 ? 'check-square' : s.status === 1 ? 'exclamation-triangle' : 'question-circle' %>" aria-hidden="true">
                                        </i> <%= s.status === null ? 'Unavailable' : s.status === 0 ? 'Active' : s.status === 1 ? 'Unresponsive' : 'Unavailable' %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="commandStats"></div>

        <%- include("../parts/foot.ejs") %>
	</body>
</html>

<script>$(".shards td:contains('Unavailable')").css("color", "orange").text(" Unavailable").prepend('<i class="fa fa-question-circle" aria-hidden="true">');</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
	let now = new Date();
	let commandStats = Highcharts.chart('commandStats', {
		title: { text: "Command Statistics" },
		credits: { enabled: false },
        xAxis: { type: 'datetime' },
        yAxis: { title: { text: null }, allowDecimals: false },
        plotOptions: { series: { pointStart: now.setHours(now.getHours() - 1), pointInterval: 60 * 1000 } },
        navigation: { buttonOptions: { enabled: false } },
        series: [ <% master.shards.forEach((s, i) => { %> { name: 'Shard <%= s.id %>', data: [<%= s.commands || Array(60).fill(0) %>], color: `#${Math.floor(Math.random()*16777215).toString(16)}` }<%= i + 1 === master.shards.length ? "" : "," %> <% }) %> ]
	});
</script>
